ion-header.main-header
  .notification('(click)'="showNotif()")
    .notification--new('*ngIf'="newNotification")
    ion-icon.bell(name="notifications-outline")
      
  .popup('*ngIf'="notification")
    .background('(click)'="hideNotif()")
    .notification--expand
      .notification-specific('*ngIf'="specificNotification")
        .title
          span ¿Cómo calificas la compra en general?
        .score
          .star#star-1
            ion-icon(
              name="star"
              '*ngIf'="star1"
              '(click)'="star1C()"
              )
            ion-icon(
              name="star-outline"
              '*ngIf'="!star1"
              '(click)'="star1C()"
              )
          .star#star-2
            ion-icon(
              name="star"
              '*ngIf'="star2"
              '(click)'="star2C()"
              )
            ion-icon(
              name="star-outline"
              '*ngIf'="!star2"
              '(click)'="star2C()"
              )  
          .star#star-3
            ion-icon(
              name="star"
              '*ngIf'="star3"
              '(click)'="star3C()"
              )
            ion-icon(
              name="star-outline"
              '*ngIf'="!star3"
              '(click)'="star3C()"
              )
          .star#star-4
            ion-icon(
              name="star"
              '*ngIf'="star4"
              '(click)'="star4C()"
              )
            ion-icon(
              name="star-outline"
              '*ngIf'="!star4"
              '(click)'="star4C()"              
              )
          .star#star-5
            ion-icon(
              name="star"
              '*ngIf'="star5"
              '(click)'="star5C()"
              )
            ion-icon(
              name="star-outline"
              '*ngIf'="!star5"
              '(click)'="star5C()"
              )
        .button('(click)'="submitCalificacion()") Enviar
      .notification__card-box('*ngIf'="listNotification")
        .notification__card(
          '*ngFor'='let noti of this.auxService.notificaciones'
          '(click)'='calificar(noti)')
          span.placeholder Calificar la compra de: <br/> {{noti.productor.name}}
          ion-icon.button-dismiss(
            name="close-circle"
            '(click)'="dismissNotification(noti)"
            )  
  .logo
    img(src="https://img.icons8.com/plasticine/100/000000/salad.png").salad  
    .location
      img(src="https://img.icons8.com/office/80/000000/place-marker.png").pinpoint
      span.location__text {{this.location}}
